body{}
header{
  border: solid 1px #345;
}
#banier{
  //border: solid 1px red;
  min-height: 200px;
}
.banier_img{
  width: 100%
  height: 250px;
}
#zone_rch{
  border: solid 1px green;
   min-height: 80px;
}

#cont{
  border: solid 1px #9AC;
   //min-height: 350px;
}

#resultat{
  border: solid 1px #5F2;
   min-height: 350px;
  width: 50%;
  margin: auto;
}

footer{
  border: solid 1px red;
   min-height: 30px;
}
