
    *  { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        } 
        body { 
          height: auto;
          font-family: Arial, sans-serif;
          background-color: #0033cc;
          color: with;
          display: flex;
          flex-direction: column;
          align-items:center;
          justify-content: center;
          
          position: relative;
        } 
        header { 
          width: 100%;
          max-width: 1200px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
        } 
        .logo {
          width: 160px;
          height: 150px;
          
         
          border-radius: 60%;
        } 
        nav a {
          margin: 0 15px;
          color: white;
          text-decoration: none;
          font-weight: 600;
        } 
        .social a img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        } 
        main {
          display: flex;
          flex-direction: column;
          align-items: center;
         
          padding: 40px 20px;
        } 
        .quote { 
          font-size: 1.2rem;
          max-width: 600px; 
          margin-bottom: 20px;
          font-family: Arial Black, sans-serif;
          font-weight: bold;
           color: #4d79ff;
        } 
        .quote .author { 
          display: block;
          margin-top: 10px;
          font-size: 0.9rem;
        } 
#q { color: ##4d79ff; }

       
        .title h1 {
          font-size: 10rem;
          line-height: 1;
          margin-left: 0;
           color: #99ccff;
          
        } 

        .title {
            margin-top: 20vh;
        }

        .title .lane {
          color: #4d79ff;
        } 
        .image img {
          width: auto;
          height: auto;
          margin-top: 20px; 
        }

        #plante {
            height: 700px;
            width: 700px;
            display: flex;
            position: absolute;
            top: 25vh;
            left: 60vw;
            z-index: -1;

        }

        .bx-cart, .bx-user {
            color: azure;
            font-size: 2em;

        }

        .bx-cart {
            padding-right: 25px;
        }

        .article img {
            width: 200px;
            height: 200px;
            align-items: center;
        }
.btn-acheter{
    background-color: #99ccff;
    color: white;
    border: none;
  border-radius: 15px;
  size: 20px;
  font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  margin-left: -42px;
}

.btn-acheter:hover{
    background-color: #EE82EE;
    text-align: center;
}

.btn-acheter::after{
    content: "";
    background: #0033cc;
    position: absolut;
    z-index: -1;
    left: -15%;
    border-right-style: -15%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0,1);
    text-align: center;
}

.btn-acheter:active{
  transform: translate(3px);
  box-shadow: 0 10px 20px rgb(255, 255, 255, 0.60);
  color: white;
}
.btn-hautdepage{
    background-color: none;
    color: white;
    border: none;
  border-radius: 15px;
  font-size : 20px;
  font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    position: absolut;
    z-index: 1;
    overflow: hidden;
}

.btn-hautdepage:hover{
    background-color: #EE82EE;
}

.btn-hautdepage::after{
    content: "";
    background: red;
    position: absolute;
    z-index: -1;
    left: -15%;
    border-right-style: -15%;
    top: 0;
    bottom: 0;
    transform: skewX(-50deg) scale(0,1);
}

.btn-hautdepage:active{
  transform: translate(3px);
  box-shadow: 0 10px 20px rgb(255, 255, 255, 0.60);
  color: white;
}

.agd:hover{
    background-color: #EE82EE;
}
.agd_image:active{
  transform: translate(3px);
  box-shadow: 0 10px 20px rgb(255, 255, 255, 0.60);
  color: white;
}

.article {
   color: #99ccff;
   text-align: center;
   width: 100px;
   height: 100px;
}

h3, h4, h5{
   color: #EE82EE;
  margin-left: -30px;
   text-align: center;
    position: absolut;
  font-family: Arial Black, sans-serif;
  font-size: 30px
    
}
.container img{
    display: wrap; 
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;     /* Centre l'image verticalement */
    height: 80;           /* Hauteur de l'écran si nécessaire */
      width: 80%;
       height: 80%;
   margin-left: -10px;
}
.container2 img{
    display: wrap; 
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;     /* Centre l'image verticalement */
    height: 100vh;           /* Hauteur de l'écran si nécessaire */
   width: 80%; /* 50% de la largeur de son conteneur */
   height: 80%; /* Garde les proportions de l'image */
   margin-left: -10px;
}
.container3 img{
    display: wrap; 
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;     /* Centre l'image verticalement */
    height: 100vh;           /* Hauteur de l'écran si nécessaire */
     width: 80%; /* 50% de la largeur de son conteneur */
    height: 80%; /* Garde les proportions de l'image */
   margin-left: -10px;
}
p {
   color:#99ccff;
   text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
   margin-left: -30px;
}


























































        
::-webkit-scrollbar {
    width: 12px;
  }
  

  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
    border-radius: 20px;
    border: 3px solid #ffffff; 
  }
  
  ::-webkit-scrollbar-hover {
    background: linear-gradient(45deg, #ff69b4, #ff4500, #32cd32, #1e90ff, #9370db, #ff1493, #00ced1);
  }
  
