body{}
header{
  border: solid 2px #345;
}
#banier{
  border: solid 2px red;
  min-height: 200px;
}

#zone_rch{
  border: solid 2px green;
   min-height: 80px;
}

#cont{
  border: solid 2px #9AC;
   //min-height: 350px;
}

#resultat{
  border: solid 2px #5F2;
   min-height: 350px;
  width: 50%;
  margin: auto;
}

footer{
  border: solid 2px red;
   min-height: 30px;
}
